* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Cambria, serif;
    font-size: 14px;
    color: #555;
    line-height: 24px;
    position: relative;
}

.container {
    width: 1140px;
    margin: auto;
}

.text-center {
    text-align: center;
}

header {
    height: 770px;
    background: url(../images/top-bg.png) no-repeat #6c1d14;
    background-size: cover;
    color: #fff;
    padding-top: 37px;
}

header h1{
    font-family: sans-serif;
    text-transform: uppercase;
    padding-top: 233px;
    font-size: 3rem;
    margin-bottom: 31px;
}

header h2 {
    font-size: 20px;
    font-family: Cambria, serif;
    margin: 0 0 65px;
    text-transform: none;
}
