* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Cambria, serif;
    font-size: 14px;
    color: #555;
    line-height: 24px;
    position: relative;
}

.container {
    width: 1140px;
    margin: auto;
}

.text-center {
    text-align: center;
}


